<div class="container my-24 mb-12 px-6 mx-auto">
  <section class="text-black-800">
    <div class="flex flex-wrap">
      <div
        class="grow-0 shrink-0 basis-auto mb-6 md:mb-0 w-full md:w-6/12 px-3 lg:px-6"
      >
        <h1 class="text-3xl font-bold mb-6">Kontaktieren Sie uns</h1>
        <p class="text-black-800 mb-6">
          Wenn Sie Fragen zu unseren Leistungen und Angeboten haben oder einen
          Termin vereinbaren wollen, können Sie das folgende Formular nutzen!
          Wir werden uns umgehend bei Ihnen melden.
        </p>
        <p class="text-black-800 mb-2">Emsdettener Straße 2, 48268 Greven</p>
        <p class="text-black-800 mb-2">02571 / 27 12</p>
        <p class="text-black-800 mb-2">info@breuch.de</p>
      </div>
      <div
        class="grow-0 shrink-0 basis-auto mb-12 md:mb-0 w-full md:w-6/12 px-3 lg:px-6"
      >
        <form
          #emailForm="ngForm"
          (ngSubmit)="createEmail(emailForm.value, emailForm)"
        >
          <div class="form-group mb-6">
            <input
              required
              name="eName"
              ngModel
              type="text"
              class="block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              placeholder="Name"
            />
          </div>
          <div class="form-group mb-6">
            <input
              required
              name="eEmail"
              ngModel
              type="email"
              class="block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              placeholder="Email address"
            />
          </div>
          <div class="form-group mb-6">
            <textarea
              required
              name="eMessage"
              type="text"
              ngModel
              class="block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              rows="3"
              placeholder="Message"
            ></textarea>
          </div>

          <div class="flex items-center mb-4">
            <input
              required
              name="eCheckbox"
              ngModel
              style="cursor: pointer"
              type="checkbox"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              for="default-checkbox"
              class="ml-2 text-sm font-medium dark:text-gray-300"
              >Die
              <a
                style="cursor: pointer"
                class="text-blue-400 hover:text-blue-500"
                >Datenschutzerklärung</a
              >
              habe ich gelesen und akzeptiert.</label
            >
          </div>

          <button
            class="mb-2 w-full px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
          >
            Senden
          </button>
          <span
            [ngClass]="emailValidatorService.validateFormError"
            style="
              font-size: 15px;
              color: rgba(255, 0, 0, 0.7);
              position: relative;
            "
          >
            Name, Email, Nachricht oder Datenschutzerklärung wurde falsch oder
            nicht berücksichtigt.
          </span>
        </form>
      </div>
    </div>
  </section>
</div>

<div class="container my-24 mt-0 mb-12 px-6 mx-auto">
  <section class="text-black-800">
    <div class="mt-8 grid grid-cols-1 gap-x-16 gap-y-12 lg:grid-cols-2">
      <blockquote
        class="grow-0 shrink-0 basis-auto mb-6 md:mb-0 w-full md:w-12/12 px-3 lg:px-6"
      >
        <h2
          class="text-1xl md:text-2xl grow-0 shrink-0 basis-auto font-bold md:mb-0 w-full md:w-6/12"
        >
          Kundenbewertungen
        </h2>

        <div class="grow-0 shrink-0 basis-auto mt-6 md:mb-0 w-full md:w-6/12">
          <p class="text-2xl font-medium">5,0</p>

          <div class="flex">
            <img
              style="height: 20px; width: auto"
              src="../../../assets/contact/fivestars.svg"
              alt=""
            />
          </div>

          <p class="mt-0.5 text-xs text-gray-500">
            Basierend auf über 40 Bewertungen
          </p>
        </div>
      </blockquote>
      <blockquote
        class="text-center items-center flex grow-0 shrink-0 basis-auto mb-6 md:mb-0 w-full md:w-12/12 px-3 lg:px-6"
      >
        <div class="text-center flex">
          <button
            class="standart-button px-7 py-3 leading-snug uppercase rounded shadow-md ease-in-out"
          >
            <a href="https://g.page/r/CeufIALskOB3EB0/review " target="_blank"
              >Bewerten Sie uns auf Google!</a
            >
          </button>
        </div>
      </blockquote>
      <!-- //// -->
      <blockquote
        class="grow-0 shrink-0 basis-auto mb-6 md:mb-0 w-full md:w-12/12 px-3 lg:px-6"
      >
        <header class="sm:flex sm:items-center sm:gap-4">
          <div class="flex">
            <img
              style="height: 20px; width: auto"
              src="../../../assets/contact/fivestars.svg"
              alt=""
            />
          </div>

          <p class="mt-2 font-medium sm:mt-0">Sebastian W.</p>
        </header>
        <p class="mt-2 text-gray-700">
          Meine Frau und ich wurden hier super beraten! Wir haben richtig schöne
          Trauringe gefunden, mit denen wir sehr glücklich sind :-) Dazu sind
          die Preise im Vergleich zu anderen Juwelieren absolut fair. Wir finden
          es super, dass hier nur recycelte oder fair gehandelte Materialien
          verwendet werden. Aus unserer Sicht können wir den Juwelier Breuch
          uneingeschränkt weiterempfehlen 👌
        </p>

        <!-- <footer class="mt-4">
          <p class="text-xs text-gray-500">John Doe - 12th January, 2024</p>
        </footer> -->
      </blockquote>

      <blockquote
        class="grow-0 shrink-0 basis-auto mb-6 md:mb-0 w-full md:w-12/12 px-3 lg:px-6"
      >
        <header class="sm:flex sm:items-center sm:gap-4">
          <div class="flex">
            <img
              style="height: 20px; width: auto"
              src="../../../assets/contact/fivestars.svg"
              alt=""
            />
          </div>

          <p class="mt-2 font-medium sm:mt-0">Alexander R.</p>
        </header>
        <p class="mt-2 text-gray-700">
          Wir haben unsere Trauringe hier anfertigen lassen und wurden kompetent
          beraten. Herr Breuch hat sich bei jedem Termin viel Zeit genommen und
          all unsere Wünsche umgesetzt. Wir können diesen Juwelier auch für
          unerfahrene 'Ringträger' von ganzem Herzen empfehlen. Toller Service
          und fairer Preis.
        </p>

        <!-- <footer class="mt-4">
          <p class="text-xs text-gray-500">John Doe - 12th January, 2024</p>
        </footer> -->
      </blockquote>

      <blockquote
        class="grow-0 shrink-0 basis-auto mb-6 md:mb-0 w-full md:w-12/12 px-3 lg:px-6"
      >
        <header class="sm:flex sm:items-center sm:gap-4">
          <div class="flex">
            <img
              style="height: 20px; width: auto"
              src="../../../assets/contact/fivestars.svg"
              alt=""
            />
          </div>

          <p class="mt-2 font-medium sm:mt-0">Isabel S.</p>
        </header>
        <p class="mt-2 text-gray-700">
          Wir sind super glücklich und zufrieden mit unseren Trauringen, die wir
          bei Herrn Breuch bekommen haben. Wir kamen auf Empfehlung zu Fam.
          Breuch, da sie wunderschöne Ringe aus recyceltem und fair gehandeltem
          Gold haben. Die Beratung war super: sympathisch und wir haben uns
          immer in guten Händen gefühlt!
        </p>

        <!-- <footer class="mt-4">
          <p class="text-xs text-gray-500">John Doe - 12th January, 2024</p>
        </footer> -->
      </blockquote>

      <blockquote
        class="grow-0 shrink-0 basis-auto mb-6 md:mb-0 w-full md:w-12/12 px-3 lg:px-6"
      >
        <header class="sm:flex sm:items-center sm:gap-4">
          <div class="flex">
            <img
              style="height: 20px; width: auto"
              src="../../../assets/contact/fivestars.svg"
              alt=""
            />
          </div>

          <p class="mt-2 font-medium sm:mt-0">Stephan S.</p>
        </header>
        <p class="mt-2 text-gray-700">
          Meine Uhr war zur Revision bei Herrn Breuch. Die Bearbeitungszeit
          pfeilschnell und die Qualität der Arbeit ausgezeichnet. Jederzeit
          gerne wieder.
        </p>

        <!-- <footer class="mt-4">
          <p class="text-xs text-gray-500">John Doe - 12th January, 2024</p>
        </footer> -->
      </blockquote>
    </div>
  </section>
</div>
