<div class="title mt-10 text-center pt-24 pb-10 px-6">
  <p class="text-5xl md:text-6xl xl:text-7xl tracking-tight"></p>
</div>
<div class="mt-3 mb-3 text-center pt-3 pb-3 px-6">
  <h1 class="text-5xl md:text-6xl xl:text-7xl tracking-tight">
    <p class="text-4xl md:text-5xl xl:text-6xl tracking-tight">Über uns</p>
    <span class="text-4xl md:text-5xl xl:text-6xl tracking-tight title-heading"
      >Seit 1993</span
    >
  </h1>
</div>

<div class="contentblock-one container mt-6 mb-8 px-6 mx-auto">
  <section class="text-gray-800 text-center">
    <div class="flex flex-wrap">
      <p>
        Seit 1993 ist Juwelier Breuch Ihr zuverlässiger Ansprechpartner, der Sie
        mit erstklassiger Beratung und fairen Preisen unterstützt
        <br />
        <br />
        Im Jahr 2002 haben wir unsere neuen Räumlichkeiten in Greven bezogen,
        aber unsere Hingabe zur Kundenzufriedenheit bleibt unverändert. Wir sind
        ein Familienbetrieb und agieren mit Herz und Verstand, seit unserer
        Gründung bis heute.
        <br />
        <br />
        Sollten Sie weitere Fragen haben, können Sie uns gerne kontaktieren!
      </p>
    </div>
    <br />
    <br />
    <mat-icon class="arrow-down">arrow_downward</mat-icon>
  </section>
</div>

<div class="text-center image-section container mb-8 my-12 mt-0 px-6 mx-auto">
  <section class="text-gray-800">
    <div class="text-center">
      <h1 class="mb-0 text-2xl font-bold sm:text-3xl">Über unsere Arbeit</h1>
    </div>

    <div id="goldschmiede" class="pt-20 flex flex-wrap">
      <div
        class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pr-6 lg:mb-0 mb-6"
      >
        <div
          class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
          style="background-position: 50%"
          data-mdb-ripple="true"
          data-mdb-ripple-color="light"
        >
          <img
            src="../../../assets/about/goldschmied.jpg"
            class="w-full"
            alt="Goldschmiede"
          />
          <a>
            <div
              class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </a>
        </div>
      </div>

      <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pl-6">
        <h3 class="text-2xl font-bold mb-4">Goldschmiede</h3>
        <p class="text-gray-500 mb-4">
          Mit jahrzehntelanger Erfahrung und Leidenschaft für das Handwerk,
          fertigen wir exquisite Schmuckstücke aus edlen Metallen an. Trauringe
          und Schmuckstücke die mit Präzision und Liebe zum Detail gefertigt
          werden.
          <br />
          <br />
          Dabei legt unsere Goldschmiede großen Wert auf die Verwendung von
          fairtrade gewonnenen Materialien und setzt auf eine umweltfreundliche
          Herstellung.
          <br />
          <br />
          Wenn Sie auf der Suche nach einem einzigartigen Schmuckstück sind, das
          Ihre Persönlichkeit und Ihren Stil zum Ausdruck bringt, sind Sie bei
          Puls der Zeit genau richtig.
        </p>
        <p
          style="cursor: pointer"
          class="mehrErfahrenTextTrauringe text-blue-400 hover:text-blue-600"
          routerLink="/products"
          fragment="trauringe"
        >
          Mehr über Trauringe >
        </p>
      </div>
      <div>
        <p class="font-bold text-black-800 mt-8">
          Trauringe, Schmuck & Sonderanfertigungen
        </p>
      </div>
    </div>

    <div id="uhrmachermeister" class="pt-20 flex flex-wrap lg:flex-row-reverse">
      <div
        class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pl-6 lg:mb-0 mb-6"
      >
        <div
          class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
          style="background-position: 50%"
          data-mdb-ripple="true"
          data-mdb-ripple-color="light"
        >
          <img
            src="../../../assets/about/clock.jpg"
            class="w-full"
            alt="Uhrmacher"
          />
          <a>
            <div
              class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </a>
        </div>
      </div>

      <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pr-6">
        <h3 class="text-2xl font-bold mb-4">Uhrmachermeister-Werkstatt</h3>
        <p class="text-gray-500 mb-4">
          Unsere Leidenschaft für Tradition spiegelt sich in unserer hauseigenen
          Uhrmachermeisterwerkstatt wider. Dort widmen wir uns mit Hingabe und
          Begeisterung dem filigranen Handwerk der Uhrmacherkunst und kümmern
          uns um hochwertige sowie antike Uhren.
          <br />
          <br />
          Jede Uhr stellt eine besondere Herausforderung dar, da die Technik
          hinter dem Ziffernblatt von Modell zu Modell unterschiedlich sein
          kann. Wir nehmen uns die Zeit, Ihre individuellen Bedürfnisse zu
          berücksichtigen und restaurieren Ihre alte Uhr sorgfältig, damit Sie
          bald wieder die genaue Zeit ablesen können. <br />
          <br />
          Wie können wir Ihnen helfen? Kommen Sie zu uns und lernen Sie Ihren
          Juwelier und Uhrmacher in Greven kennen!
        </p>

        <p
          style="cursor: pointer"
          class="mehrErfahrenTextUhren text-blue-400 hover:text-blue-600"
          routerLink="/products"
          fragment="uhren"
        >
          Mehr über Uhren >
        </p>
      </div>
      <div>
        <p class="font-bold text-black-800 mt-8">
          Großuhren, Armbanduhren, Antike- oder Luxusuhren
        </p>
      </div>
    </div>
  </section>
</div>

<div class="container mb-8 my-12 mt-0 px-6 mx-auto">
  <section class="mb-16 text-gray-800 text-center">
    <h2 class="text-3xl font-bold mb-12">Ihr Familien Unternehmen</h2>

    <div class="grid md:grid-cols-2 gap-x-3 lg:gap-x-2">
      <div class="mb-12 md:mb-0">
        <div class="flex justify-center mb-6">
          <img
            src="../../../assets/about/profil.png"
            class="rounded-full shadow-lg w-32"
            alt="Inhaberin"
          />
        </div>
        <h5 class="text-lg font-bold mb-4">Elke Breuch</h5>
        <h6 class="font-medium text-blue-600 mb-4">Inhaberin</h6>
      </div>
      <div class="mb-0">
        <div class="flex justify-center mb-6">
          <img
            src="../../../assets/about/profil.png"
            class="rounded-full shadow-lg w-32"
            alt="Uhrmacher"
          />
        </div>
        <h5 class="text-lg font-bold mb-4">Martin Breuch</h5>
        <h6 class="font-medium text-blue-600 mb-4">
          Uhrmachermeister & Trauringberater
        </h6>
      </div>
    </div>

    <div class="mt-12 flex text-gray-500 flex-wrap">
      <p>
        Seit vielen Jahren steht unser Name in Greven und der Region für eine
        professionelle Beratung und einen erfahrenen Service. Unsere Spezialität
        ist die Reparatur und Überholung von Uhren aller Marken wie Breitling,
        Rolex, Omega, Rado, Ebel usw. in unserer eigenen Meisterwerkstatt. Wir
        würden uns freuen, auch Ihr wertvolles Schmuckstück begutachten zu
        dürfen.
        <br />
        <br />
        Uhrmacher in Greven, Uhren in Greven, Ohrlöcher schießen, Juwelier in
        Greven, Juwlier in der nähe
      </p>
    </div>
  </section>
</div>

<div class="my-12 px-6 mx-auto">
  <section class="text-gray-800 text-center">
    <h2 class="text-3xl font-bold mb-12">Einblick in die Goldschmiede</h2>
    <div
      class="relative overflow-hidden bg-no-repeat ripple"
      style="background-position: 50%"
      data-mdb-ripple="true"
      data-mdb-ripple-color="light"
    >
      <video
        volume="50"
        style="border-radius: 20px"
        class="mb-0 mx-auto"
        controls
        type="video/mp4"
        src="../../../assets/about/Trauring aus Silber_Trim.mp4"
        alt="trauringe recyceln, fairtrade"
      ></video>
    </div>
  </section>
</div>
