<div class="w-full mt-12 flex">
  <section
    class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
  >
    <div
      class="relative overflow-hidden bg-no-repeat bg-cover"
      style="
        background-position: 50%;
        background-image: url('https://mdbootstrap.com/img/new/standard/nature/071.jpg');
        height: 500px;
      "
    >
      <div
        class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
        style="background-color: rgba(0, 0, 0, 0.75)"
      >
        <div class="flex justify-center items-center h-full">
          <div
            class="text-center text-white px-6 py-6 md:py-0 md:px-12 max-w-[800px]"
          >
            <p class="text-lg">
              Bei uns erhalten Sie eine moderne Website, die Ihr Unternehmen
              zeitgemäß präsentiert. Vertrauen Sie unserem erfahrenen Team für
              eine ansprechende Benutzererfahrung.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="container mx-auto">
  <h1
    class="md:my-12 my-6 text-center notranslate text-4xl md:text-5xl xl:text-6xl tracking-tight"
  >
    Eine Website für Sie
  </h1>
  <mat-divider style="display: flex; margin: auto" class="w-1/2"></mat-divider>
  <div class="md:my-12 my-6 flex justify-center">
    <div class="text-center">
      <!-- <h2 class="text-3xl font-bold mb-6 text-center">Warum WebTree ?</h2> -->
      <p class="text-gray-500">
        Unser Unternehmen steht für lokal verankerten, preiswerten Service mit
        Leidenschaft. Wir sind stolz darauf, Ihnen maßgeschneiderte Lösungen
        anzubieten, die Ihre Bedürfnisse erfüllen und Ihr Unternehmen
        erfolgreich machen. Vertrauen Sie auf unser engagiertes Team, das mit
        Hingabe und Fachkenntnis arbeitet, um Ihnen den bestmöglichen Service zu
        bieten.
      </p>
    </div>
  </div>
</section>

<mat-divider style="display: flex; margin: auto" class="w-1/2"></mat-divider>

<div class="container md:my-12 my-6 mx-auto">
  <section class="text-gray-800 px-6">
    <div class="flex flex-wrap">
      <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pl-6">
        <h3 class="text-2xl font-bold mb-6">Trauringe</h3>
        <p class="text-gray-500 mb-4">
          Das Eheversprechen ist das schönste Versprechen, das wir einer Person
          geben können und Trauringe sind das Zeugnis dafür. Viele Paare möchten
          daher ganz besondere Ringe haben, die ihre Liebe widerspiegeln. Bei
          uns finden Sie genau solche Eheringe. Wir präsentieren Ihnen gerne
          unser breites Sortiment an Trauringen von beliebten und bewährten
          Marken wie Kühnel, Gerstner oder Wörner.
        </p>
      </div>

      <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pl-6">
        <h3 class="text-2xl font-bold mb-6">Trauringe</h3>
        <p class="text-gray-500 mb-4">
          Das Eheversprechen ist das schönste Versprechen, das wir einer Person
          geben können und Trauringe sind das Zeugnis dafür. Viele Paare möchten
          daher ganz besondere Ringe haben, die ihre Liebe widerspiegeln. Bei
          uns finden Sie genau solche Eheringe. Wir präsentieren Ihnen gerne
          unser breites Sortiment an Trauringen von beliebten und bewährten
          Marken wie Kühnel, Gerstner oder Wörner.
        </p>
      </div>
    </div>
  </section>
</div>