.svg-image {
  span {
    font-size: 90px;
    transition: 0.5s;
    box-shadow: 4px 6px 15px -10px rgb(17, 17, 17);
    border-radius: 200px;
    color: #000000e1;
    cursor: default;
    user-select: none;
  }
  div:hover {
    span {
      box-shadow: 4px 6px 15px -4px rgb(17, 17, 17);
      transition: 0.5s;
    }
  }
}

.image-banner {
  transition: 1s;
  p {
    transition: 1s;
  }
}
.image-banner:hover {
  .image-banner-btn {
    transition: 0.3s;
    border: solid 1px orange;
    font-size: 115%;
    backface-visibility: hidden;
  }
}

.image-banner-btn {
  backface-visibility: hidden;
  background-color: rgb(247, 247, 247, 0.8);
  transition: 0.3s;
}

//In Jedem Paket area start
.animation-blocks {
  div {
    transition: 0.3s;
    border-radius: 0.5rem;
    border-radius: 10px;
  }
  div:hover {
    transition: 0.3s;
    transform: translateY(-3.5%);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  span {
    font-size: 45px;
  }
}

.animation {
  div {
    div {
      div {
        transition: 0.8s;
      }
    }
  }
}

.ngStyleAfter {
  opacity: 1;
  transform: translate(0px, 0px);
}

.ngStyleBefore {
  opacity: 0;
  transform: translate(0px, 80px);
}

//In Jedem Paket area end
