<div class="mt-20"></div>

<div class="flex flex-wrap my-6">
  <div class="grow-0 shrink-0 basis-auto md:mb-0 w-full md:w-6/12 px-3 lg:px-6">
    <form #postForm="ngForm" (ngSubmit)="createPost(postForm.value, postForm)">
      <div class="form-group mb-6">
        <input
          required
          name="pHeader"
          ngModel
          type="text"
          class="block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          placeholder="Header"
        />
      </div>
      <div class="form-group mb-6">
        <input
          required
          name="pSubheader"
          ngModel
          type="text"
          class="block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          placeholder="Subheader"
        />
      </div>
      <div class="form-group mb-6">
        <textarea
          required
          name="pMessage"
          type="text"
          ngModel
          class="block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          rows="3"
          placeholder="Message"
        ></textarea>
      </div>

      <button
        class="w-full px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
      >
        Senden
      </button>
    </form>
  </div>
  <div class="grow-0 shrink-0 basis-auto md:mb-0 w-full md:w-6/12 px-3 lg:px-6">
    edit entry
  </div>
</div>
<mat-divider></mat-divider>
<div class="text-left flex flex-wrap my-6">
  <input
    name="lSearch"
    ngModel
    type="text"
    class="mx-6 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
    placeholder="Search by value"
  />
  <div
    style="max-height: 100vh"
    class="overflow-auto grow-0 shrink-0 basis-auto md:mb-0 w-full px-3 lg:px-6"
  >
    <ul
      *ngFor="let item of get.list"
      class="border border-gray-200 rounded overflow-hidden shadow-md"
    >
      <li
        class="px-4 py-2 bg-white hover:bg-sky-100 hover:text-sky-900 border-b last:border-none border-gray-200 transition-all duration-300 ease-in-out"
      >
        <div
          class="break-words grid grid-cols-7 grid-rows-2 grid-flow-row-dense gap-5"
        >
          <div>{{ item.header }}</div>
          <textarea
            style="min-height: 10vh; max-height: 400px"
            readonly
            class="col-span-4 row-span-2"
            >{{ item.description }}</textarea
          >
          <div>{{ item.date }}</div>
          <div class="row-span-2 flex flex-wrap">
            <button class="w-full">❌</button>
          </div>
          <div>{{ item.subHeader }}</div>
        </div>
      </li>
    </ul>
  </div>
</div>
