<div class="mt-10 mb-3 text-center pt-24 pb-10 px-6">
  <h1 class="mb-2 text-2xl md:text-2xl xl:text-2xl tracking-tight">
    Datenschutzerklärung
  </h1>
</div>

<div class="container mt-6 mb-8 px-6 mx-auto">
  <section class="text-black-800 text-center">
    <h1 class="mb-2 mb-2 text-2xl md:text-2xl xl:text-2xl">
      Benennung der verantwortlichen Stelle
    </h1>
    <p class="mb-12 tracking-tight">
      Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website
      ist:
      <br />
      <br />

      Puls Der Zeit - Juwelier Breuch <br />
      Elke Breuch <br />
      Emsdettener Str. 2 <br />
      48268 Greven
      <br />
      <br />
      Telefon: 02571 / 27 12
      <br />
      E-Mail: info@breuch.de
      <br />
      <br />
      Die verantwortliche Stelle entscheidet allein oder gemeinsam mit anderen
      über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten
      (z.B. Namen, Kontaktdaten o. Ä.).
    </p>

    <h1 class="mb-2 text-2xl md:text-2xl xl:text-2xl tracking-tight">
      Widerruf Ihrer Einwilligung zur Datenverarbeitung
    </h1>
    <p class="mb-12 tracking-tight">
      Nur mit Ihrer ausdrücklichen Einwilligung sind einige Vorgänge der
      Datenverarbeitung möglich. Ein Widerruf Ihrer bereits erteilten
      Einwilligung ist jederzeit möglich. Für den Widerruf genügt eine formlose
      Mitteilung per E-Mail. Die Rechtmäßigkeit der bis zum Widerruf erfolgten
      Datenverarbeitung bleibt vom Widerruf unberührt.
    </p>

    <h1 class="mb-2 text-2xl md:text-2xl xl:text-2xl tracking-tight">
      Recht auf Beschwerde bei der zuständigen Aufsichtsbehörde
    </h1>
    <p class="mb-12 tracking-tight">
      Als Betroffener steht Ihnen im Falle eines datenschutzrechtlichen
      Verstoßes ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
      Zuständige Aufsichtsbehörde bezüglich datenschutzrechtlicher Fragen ist
      der Landesdatenschutzbeauftragte des Bundeslandes, in dem sich der Sitz
      unseres Unternehmens befindet. Der folgende Link stellt eine Liste der
      Datenschutzbeauftragten sowie deren Kontaktdaten bereit:

      <a
        class="text-blue-400 hover:text-blue-500"
        href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
        target="_blank"
        >https://www.bfdi.bund.de</a
      >.
    </p>

    <h1 class="mb-2 text-2xl md:text-2xl xl:text-2xl tracking-tight">
      Recht auf Datenübertragbarkeit
    </h1>
    <p class="mb-12 tracking-tight">
      Ihnen steht das Recht zu, Daten, die wir auf Grundlage Ihrer Einwilligung
      oder in Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder
      an Dritte aushändigen zu lassen. Die Bereitstellung erfolgt in einem
      maschinenlesbaren Format. Sofern Sie die direkte Übertragung der Daten an
      einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es
      technisch machbar ist.
    </p>

    <h1 class="mb-2 text-2xl md:text-2xl xl:text-2xl tracking-tight">
      Recht auf Auskunft, Berichtigung, Sperrung, Löschung
    </h1>
    <p class="mb-12 tracking-tight">
      Sie haben jederzeit im Rahmen der geltenden gesetzlichen Bestimmungen das
      Recht auf unentgeltliche Auskunft über Ihre gespeicherten
      personenbezogenen Daten, Herkunft der Daten, deren Empfänger und den Zweck
      der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder
      Löschung dieser Daten. Diesbezüglich und auch zu weiteren Fragen zum Thema
      personenbezogene Daten können Sie sich jederzeit über die im Impressum
      aufgeführten Kontaktmöglichkeiten an uns wenden.
    </p>

    <h1 class="mb-2 text-2xl md:text-2xl xl:text-2xl tracking-tight">
      SSL- bzw. TLS-Verschlüsselung
    </h1>
    <p class="mb-12 tracking-tight">
      Aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher
      Inhalte, die Sie an uns als Seitenbetreiber senden, nutzt unsere Website
      eine SSL-bzw. TLS-Verschlüsselung. Damit sind Daten, die Sie über diese
      Website übermitteln, für Dritte nicht mitlesbar. Sie erkennen eine
      verschlüsselte Verbindung an der „https://“ Adresszeile Ihres Browsers und
      am Schloss-Symbol in der Browserzeile.
    </p>

    <h1 class="mb-2 text-2xl md:text-2xl xl:text-2xl tracking-tight">
      Kontaktformular
    </h1>
    <p class="mb-12 tracking-tight">
      Per Kontaktformular übermittelte Daten werden einschließlich Ihrer
      Kontaktdaten gespeichert, um Ihre Anfrage bearbeiten zu können oder um für
      Anschlussfragen bereitzustehen. Eine Weitergabe dieser Daten findet ohne
      Ihre Einwilligung nicht statt.
      <br />
      <br />
      Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt
      ausschließlich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a
      DSGVO). Ein Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit
      möglich. Für den Widerruf genügt eine formlose Mitteilung per E-Mail. Die
      Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitungsvorgänge
      bleibt vom Widerruf unberührt.
      <br />
      <br />
      Über das Kontaktformular übermittelte Daten verbleiben bei uns, bis Sie
      uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen
      oder keine Notwendigkeit der Datenspeicherung mehr besteht. Zwingende
      gesetzliche Bestimmungen - insbesondere Aufbewahrungsfristen - bleiben
      unberührt.
    </p>

    <h1 class="mb-2 text-2xl md:text-2xl xl:text-2xl tracking-tight">
      Google Web Fonts
    </h1>
    <p class="mb-12 tracking-tight">
      Unsere Website verwendet Web Fonts von Google. Anbieter ist die Google
      Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.
      <br />
      <br />
      Durch den Einsatz dieser Web Fonts wird es möglich Ihnen die von uns
      gewünschte Darstellung unserer Website zu präsentieren, unabhängig davon
      welche Schriften Ihnen lokal zur Verfügung stehen. Dies erfolgt über den
      Abruf der Google Web Fonts von einem Server von Google in den USA und der
      damit verbundenen Weitergabe Ihre Daten an Google. Dabei handelt es sich
      um Ihre IP-Adresse und welche Seite Sie bei uns besucht haben. Der Einsatz
      von Google Web Fonts erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO.
      Als Betreiber dieser Website haben wir ein berechtigtes Interesse an der
      optimalen Darstellung und Übertragung unseres Webauftritts.
      <br />
      <br />
      Das Unternehmen Google ist für das us-europäische Datenschutzübereinkommen
      "Privacy Shield" zertifiziert. Dieses Datenschutzübereinkommen soll die
      Einhaltung des in der EU geltenden Datenschutzniveaus gewährleisten.
      <br />
      <br />
      Einzelheiten über Google Web Fonts finden Sie unter:
      <a
        class="text-blue-400 hover:text-blue-500"
        href=" https://www.google.com/fonts#AboutPlace:about"
        target="_blank"
        >https://www.google.com/fonts</a
      >
      und weitere Informationen in den Datenschutzbestimmungen von Google:<a
        class="text-blue-400 hover:text-blue-500"
        href=" https://policies.google.com/privacy/partners?hl=de"
        target="_blank"
        >https://policies.google.com/privacy</a
      >
    </p>
  </section>
</div>
