<div class="w-full my-12 flex">
  <section
    class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
  >
    <div
      class="relative overflow-hidden bg-no-repeat bg-cover"
      style="
        background-position: 50%;
        background-image: url('https://mdbootstrap.com/img/new/standard/nature/071.jpg');
        height: 500px;
      "
    >
      <div
        class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
        style="background-color: rgba(0, 0, 0, 0.75)"
      >
        <div class="flex justify-center items-center h-full">
          <div
            class="text-center text-white px-6 py-6 md:py-0 md:px-12 max-w-[800px]"
          >
            <h1 class="text-4xl font-bold">Start</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<mat-divider style="display: flex; margin: auto" class="w-1/2"></mat-divider>

<section class="container mx-auto px-6">
  <!-- <h1
    class="md:my-12 my-6 text-center notranslate text-4xl md:text-5xl xl:text-6xl tracking-tight"
  >
    Eine Website für Sie
  </h1> -->
  <div class="md:my-12 my-6 flex justify-center">
    <div class="text-center">
      <p class="text-gray-500">
        Unser Unternehmen steht für lokal verankerten, preiswerten Service mit
        Leidenschaft. Wir sind stolz darauf, Ihnen maßgeschneiderte Lösungen
        anzubieten, die Ihre Bedürfnisse erfüllen und Ihr Unternehmen
        erfolgreich machen. Vertrauen Sie auf unser engagiertes Team, das mit
        Hingabe und Fachkenntnis arbeitet, um Ihnen den bestmöglichen Service zu
        bieten.
      </p>
    </div>
  </div>
</section>

<mat-divider style="display: flex; margin: auto" class="w-1/2"></mat-divider>

<div class="container md:my-12 my-6 mx-auto">
  <section class="text-gray-800 px-6">
    <div class="grid lg:grid-cols-3 gap-4 xl:gap-x-6">
      <div class="pricing-block grow-0 shrink-0 basis-auto mb-6 rounded-lg">
        <div
          class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
          style="background-position: 50%"
          data-mdb-ripple="true"
          data-mdb-ripple-color="light"
        >
          <img
            src="../../../assets/about/goldschmied.jpg"
            class="relativ"
            alt="Goldschmiede"
          />
          <a>
            <div
              class="home-Card-Section absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-10 hover:opacity-100 transition duration-500 ease-in-out"
            >
              <div class="block rounded-lg shadow-lg h-full hidden md:block">
                <div class="pricing-border p-6 text-center">
                  <p class="uppercase text-sm">
                    <strong>Konzeption</strong>
                  </p>
                </div>
                <div class="p-6 text-sm md:text-sm lg:text-xs xl:text-sm">
                  Wir arbeiten anfangs mit einer groben Skizze der Website, die
                  bald entsehen soll.
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="pricing-block grow-0 shrink-0 basis-auto mb-6 rounded-lg">
        <div
          class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
          style="background-position: 50%"
          data-mdb-ripple="true"
          data-mdb-ripple-color="light"
        >
          <img
            src="../../../assets/about/goldschmied.jpg"
            class="relativ"
            alt="Goldschmiede"
          />
          <a>
            <div
              class="home-Card-Section absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-10 hover:opacity-100 transition duration-500 ease-in-out"
            >
              <div class="block rounded-lg shadow-lg h-full hidden md:block">
                <div class="pricing-border p-6 text-center">
                  <p class="uppercase text-sm">
                    <strong>Entwicklung</strong>
                  </p>
                </div>
                <div class="p-6 text-sm md:text-sm lg:text-xs xl:text-sm">
                  Basierend auf unserem Plan erstellen wir Ihre Website mit
                  allen wichtigen Elementen.
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="pricing-block grow-0 shrink-0 basis-auto mb-6 rounded-lg">
        <div
          class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
          style="background-position: 50%"
          data-mdb-ripple="true"
          data-mdb-ripple-color="light"
        >
          <img
            src="../../../assets/about/goldschmied.jpg"
            class="relativ"
            alt="Goldschmiede"
          />
          <a>
            <div
              class="home-Card-Section absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-10 hover:opacity-100 transition duration-500 ease-in-out"
            >
              <div class="block rounded-lg shadow-lg h-full hidden md:block">
                <div class="pricing-border p-6 text-center">
                  <p class="uppercase text-sm">
                    <strong>Fertigstellung</strong>
                  </p>
                </div>
                <div class="p-6 text-sm md:text-sm lg:text-xs xl:text-sm">
                  Nach Abschluss der Entwicklung kümmern wir uns um den
                  Feinschliff, um sicherzustellen, dass Ihre Website in jeder
                  Hinsicht perfekt ist.
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container md:my-12 my-6 mx-auto">
  <section class="text-gray-800 px-6">
    <div class="flex flex-wrap">
      <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pl-6">
        <h3 class="text-2xl text-center font-bold mb-6">Trauringe</h3>
        <p class="text-gray-500 mb-4">
          Das Eheversprechen ist das schönste Versprechen, das wir einer Person
          geben können und Trauringe sind das Zeugnis dafür. Viele Paare möchten
          daher ganz besondere Ringe haben, die ihre Liebe widerspiegeln. Bei
          uns finden Sie genau solche Eheringe. Wir präsentieren Ihnen gerne
          unser breites Sortiment an Trauringen von beliebten und bewährten
          Marken wie Kühnel, Gerstner oder Wörner.
        </p>
      </div>

      <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pl-6">
        <h3 class="text-2xl text-center font-bold mb-6">Trauringe</h3>
        <p class="text-gray-500 mb-4">
          Das Eheversprechen ist das schönste Versprechen, das wir einer Person
          geben können und Trauringe sind das Zeugnis dafür. Viele Paare möchten
          daher ganz besondere Ringe haben, die ihre Liebe widerspiegeln. Bei
          uns finden Sie genau solche Eheringe. Wir präsentieren Ihnen gerne
          unser breites Sortiment an Trauringen von beliebten und bewährten
          Marken wie Kühnel, Gerstner oder Wörner.
        </p>
      </div>
    </div>
  </section>
</div>
<div
  id="priceButtonAnimation"
  class="priceButtonAnimation md:my-12 my-6 items-center flex"
>
  <div
    class="image-banner h-56 bg-cover top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-100 transition duration-300 ease-in-out"
    style="
      justify-content: center;
      display: flex;
      align-items: center;
      background-image: url(../../../assets/about/goldschmied.jpg);
    "
  >
    <button
      [ngClass]="priceButton"
      routerLink="/preise"
      routerLinkActive="routeIsActive"
      class="image-banner-btn shadow-md p-3 rounded-lg"
    >
      Zu unseren Preisen
    </button>
  </div>
</div>

<!-- <div class="container mx-auto">
  <section class="text-gray-800 px-6">
    <div class="grid lg:grid-cols-1 gap-4 xl:gap-x-6">
      <div class="lg:mb-0">
        <div class="block rounded-lg shadow-lg bg-white h-full">
          <div class="p-6 pb-0 text-left">
            <p class="uppercase mb-4 text-sm">
              <strong>Konfiguriere deine Website</strong>
            </p>

            <p>
              {{ websiteKonfigurierenStep }} von
              {{ websiteKonfigurierenStepMax }}
            </p>
            <div
              class="md:w-1/2 w-2/3 h-4 mb-4 bg-gray-200 rounded-full dark:bg-gray-700"
            >
              <div
                class="h-4 bg-blue-600 rounded-full dark:bg-blue-500"
                [ngStyle]="applyProzessbarStep()"
              ></div>
            </div>
          </div>

         

          <div class="">
            <div class="w-full container">
              <ol>
                <mat-stepper linear #stepper class="rounded-lg">
                  <mat-step [stepControl]="firstFormGroup" label="First">
                    <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit(1)">
                      <div class="w-full flex flex-col items-left text-left">
                        <mat-label
                          >In welcher Branche sind Sie tätig?</mat-label
                        >
                        <input
                          class="my-3 md:w-1/2 w-2/3"
                          matInput
                          placeholder="z.B. Handel, Service, Baugewerbe ..."
                          formControlName="firstCtrl"
                          required
                        />

                        <mat-error
                          class="text-sm"
                          *ngIf="!firstFormGroup.valid && firstSubmit"
                          [@inOutAnimation]
                        >
                          Pflichtfeld
                        </mat-error>
                        <div class="items-right text-right">
                          <button
                            (click)="
                              firstFormGroup.valid
                                ? websiteKonfigurierenStepPlus()
                                : null
                            "
                            mat-button
                            matStepperNext
                          >
                            Next
                          </button>
                        </div>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="secondFormGroup" label="Second">
                    <form
                      [formGroup]="secondFormGroup"
                      (ngSubmit)="onSubmit(2)"
                    >
                      <div
                        class="w-full flex flex-col justify-center items-left text-left"
                      >
                        <mat-label
                          >Welche Seiten soll Ihre Website
                          beinhalten?</mat-label
                        >
                        <input
                          class="my-3"
                          matInput
                          placeholder="z.B. Start, Über uns, Preise ..."
                          formControlName="firstCtrl"
                          required
                        />
                        <mat-error
                          class="text-sm"
                          *ngIf="!secondFormGroup.valid && secondSubmit"
                          [@inOutAnimation]
                        >
                          Pflichtfeld
                        </mat-error>

                        <div class="text-right items-right">
                          <button
                            (click)="websiteKonfigurierenStepMinus()"
                            type="button"
                            mat-button
                            matStepperPrevious
                          >
                            Back
                          </button>
                          <button
                            (click)="
                              secondFormGroup.valid
                                ? websiteKonfigurierenStepPlus()
                                : null
                            "
                            mat-button
                            matStepperNext
                          >
                            Next
                          </button>
                        </div>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="thirdFormGroup" label="third">
                    <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmit(3)">
                      <div class="w-full flex flex-col items-left text-left">
                        <mat-label>Haben Sie bereits eine Domain?</mat-label>
                        <input
                          class="my-3"
                          matInput
                          placeholder="z.B. Webtree-design.de"
                          formControlName="firstCtrl"
                        />

                        <div class="items-right text-right">
                          <button
                            (click)="websiteKonfigurierenStepMinus()"
                            type="button"
                            mat-button
                            matStepperPrevious
                          >
                            Back
                          </button>
                          <button
                            (click)="websiteKonfigurierenStepPlus()"
                            mat-button
                            matStepperNext
                          >
                            Next
                          </button>
                        </div>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step label="Done">
                    <form [formGroup]="lastFormGroup" (ngSubmit)="onSubmit(99)">
                      <div
                        class="w-full flex flex-col justify-center items-left text-left"
                      >
                        <mat-label>Done!</mat-label>
                        <input
                          class="my-3"
                          matInput
                          placeholder="what"
                          formControlName="firstCtrl"
                          required
                        />

                        <mat-error
                          class="text-sm"
                          *ngIf="!lastFormGroup.valid && lastSubmit"
                          [@inOutAnimation]
                        >
                          what
                        </mat-error>
                        <div class="text-right items-right">
                          <button
                            (click)="websiteKonfigurierenStepMinus()"
                            type="button"
                            mat-button
                            matStepperPrevious
                          >
                            Back
                          </button>
                          <button
                            (click)="
                              lastFormGroup.valid
                                ? getAllForms(
                                    firstFormGroup,
                                    secondFormGroup,
                                    thirdFormGroup,
                                    stepper
                                  )
                                : null
                            "
                            mat-button
                          >
                            Senden
                          </button>
                        </div>
                      </div>
                    </form>
                  </mat-step>
                </mat-stepper>
              </ol>
            </div>
          </div>

       
        </div>
      </div>
    </div>
  </section>
</div> -->

<div class="container px-6 mx-auto md:my-12 my-6">
  <section id="animation" class="animation text-gray-800">
    <div class="items-left text-left">
      <div
        class="animation-blocks flex gap-6 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 md:grid-rows-1 lg:grid-rows-1"
      >
        <div [ngClass]="ngStyle1" id="section1" class="p-4">
          <span class="material-symbols-outlined"> security </span>
          <p class="text-lg flex items-center mb-1">Sicher</p>
          <p class="text-sm">
            Mit uns sind Sie auf der sicheren Seite. Unsere Erfahrung und
            Expertise gewährleisten eine professionelle und zuverlässige
            Umsetzung Ihrer Website. Vertrauen Sie uns und erhalten Sie eine
            herausragende Online-Präsenz für Ihr Unternehmen.
          </p>
        </div>
        <div [ngClass]="ngStyle2" id="section2" class="p-4">
          <span class="material-symbols-outlined"> workspace_premium </span>
          <p class="text-lg flex items-center mb-1">Professionell</p>
          <p class="text-sm">
            Unsere Website-Designs überzeugen ihre Zielgruppe. Vertrauen Sie uns
            für eine erfolgreiche Online-Präsenz.
          </p>
        </div>
        <div [ngClass]="ngStyle3" id="section3" class="p-4">
          <span class="material-symbols-outlined"> euro </span>
          <p class="text-lg flex items-center mb-1">Preiswert</p>
          <p class="text-sm">
            Profitieren Sie von unserem preiswerten Service mit einem
            ausgewogenen Preis-Leistungs-Verhältnis, speziell für lokale Kunden.
            Vertrauen Sie uns, um qualitativ hochwertige Lösungen zu einem
            erschwinglichen Preis zu erhalten.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<mat-divider style="display: flex; margin: auto" class="w-1/2"></mat-divider>

<div class="container md:my-12 my-6 px-6 mx-auto">
  <section id="expand" class="animation text-gray-800">
    <div class="items-center text-center">
      <h5 class="mb-12 text-2xl font-bold">Warum WebTree?</h5>
      <div
        class="expand-blocks flex flex-col items-center justify-center text-center"
      >
        <mat-accordion class="w-full">
          <div class="mb-4">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header class="mat-expansion-panel-header">
                <mat-panel-title class="flex justify-center">
                  SAo machen wir ihre super tolle seite!
                </mat-panel-title>
                <span class="material-symbols-outlined"> expand_more </span>
              </mat-expansion-panel-header>
              <p>
                This is the primary content of the panel.This is the primary
                content of the panel.This is the primary content of the
                panel.This is the primary content of the panel.This is the
                primary content of the panel.This is the primary content of the
                panel.This is the primary content of the panel.This is the
                primary content of the panel.
              </p>
            </mat-expansion-panel>
          </div>

          <div class="mb-4">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title class="flex justify-center">
                  This is the expansion title
                </mat-panel-title>
                <span class="material-symbols-outlined"> expand_more </span>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
          </div>
          <div class="mb-4">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title class="flex justify-center">
                  This is the expansion title
                </mat-panel-title>
                <span class="material-symbols-outlined"> expand_more </span>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </div>
    </div>
  </section>
</div>
