.animation-blocks {
  div {
    transition: 0.3s;
    border-radius: 0.5rem;
    border-radius: 10px;
  }
  div:hover {
    transition: 0.3s;
    transform: translateY(-2%);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  span {
    font-size: 45px;
  }
}

.animation {
  div {
    div {
      div {
        transition: 0.8s;
      }
    }
  }
}

.image-banner {
  transition: 1s;
  p {
    transition: 1s;
  }
}
.image-banner:hover {
  .image-banner-btn {
    transition: 0.3s;
    border: solid 1px orange;
    font-size: 115%;
    backface-visibility: hidden;
  }
}

.image-banner-btn {
  backface-visibility: hidden;
  background-color: rgb(247, 247, 247, 0.8);
  transition: 0.3s;
}

//In Jedem Paket area start

.ngStyleAfter {
  opacity: 1;
  transform: translate(0px, 0px);
}

.ngStyleBefore {
  opacity: 0;
  transform: translate(0px, 20px);
}

//In Jedem Paket area end

.expand-blocks {
  div {
    transition: 0.3s;
    border-radius: 0.5rem;
    border-radius: 10px;
    transition: 0.3s;
    transform: translateY(-3.5%);
    box-shadow: 0 0 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  span {
    font-size: 45px;
  }
}

.expand {
  div {
    div {
      div {
        transition: 0.8s;
      }
    }
  }
}

mat-expansion-panel-header {
  padding: 0;
  ::ng-deep .mat-content-hide-toggle {
    margin: 0 !important;
    padding: 15px !important;
  }
}

::ng-deep .mat-expansion-panel-body {
  padding: 15px !important;
  border-top: solid 1px rgb(0, 0, 0, 0.1) !important;
}

mat-panel-title {
  margin: 0 !important;
  // border: solid 1px rgb(0, 0, 0, 0.1);
}

//Priceblock area start
.pricing-block {
  transition: 2s;
  outline: 1px solid rgb(198, 151, 73, 0);
  button {
    background-color: hsl(0, 0%, 95%);
  }
}

@media only screen and (min-width: 1024px) {
  .pricing-block:hover {
    transform: translateY(-2%);
    transition: 1s;
    opacity: 1;
    outline: 1px solid rgb(198, 151, 73, 0.6);
    .pricing-border {
      border-bottom: 1px solid rgb(198, 151, 73, 0.4);
    }
  }
}

.pricing-border {
  transition: 1s;
  border-bottom: 1px solid rgb(128, 128, 128, 0.3);
}

.check {
  color: rgb(1, 168, 1);
}
//Priceblock area end



::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}