<div class="w-full mt-12 flex">
  <section
    class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
  >
    <div
      class="relative overflow-hidden bg-no-repeat bg-cover"
      style="
        background-position: 50%;
        background-image: url('https://mdbootstrap.com/img/new/standard/nature/071.jpg');
        height: 500px;
      "
    >
      <div
        class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
        style="background-color: rgba(0, 0, 0, 0.75)"
      >
        <div class="flex justify-center items-center h-full">
          <div
            class="text-center text-white px-6 py-6 md:py-0 md:px-12 max-w-[800px]"
          >
            <p class="text-lg">
              Bei uns erhalten Sie eine moderne Website, die Ihr Unternehmen
              zeitgemäß präsentiert. Vertrauen Sie unserem erfahrenen Team für
              eine ansprechende Benutzererfahrung.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="container mx-auto">
  <h1
    class="my-12 text-center notranslate text-4xl md:text-5xl xl:text-6xl tracking-tight"
  >
    Eine Website für Sie
  </h1>
  <mat-divider style="display: flex; margin: auto" class="w-1/2"></mat-divider>
  <div class="mt-12 mb-12 flex justify-center">
    <div class="text-center">
      <!-- <h2 class="text-3xl font-bold mb-6 text-center">Warum WebTree ?</h2> -->
      <p class="text-gray-500">
        Unser Unternehmen steht für lokal verankerten, preiswerten Service mit
        Leidenschaft. Wir sind stolz darauf, Ihnen maßgeschneiderte Lösungen
        anzubieten, die Ihre Bedürfnisse erfüllen und Ihr Unternehmen
        erfolgreich machen. Vertrauen Sie auf unser engagiertes Team, das mit
        Hingabe und Fachkenntnis arbeitet, um Ihnen den bestmöglichen Service zu
        bieten.
      </p>
    </div>
  </div>
</section>

<mat-divider style="display: flex; margin: auto" class="w-1/4"></mat-divider>
<div class="container my-12 mb-4 mx-auto">
  <section class="text-gray-800 px-6">
    <div class="grid lg:grid-cols-3 gap-4 xl:gap-x-6">
      <div class="lg:mb-0">
        <div class="pricing-block block rounded-lg shadow-lg bg-white h-full">
          <div class="pricing-border p-6 text-center">
            <p class="uppercase mb-4 text-sm">
              <strong>Basic</strong>
            </p>
          </div>
          <div class="p-6">bilder</div>
        </div>
      </div>

      <div class="lg:mb-0">
        <div class="pricing-block block rounded-lg shadow-lg bg-white h-full">
          <div class="pricing-border p-6 border-b border-gray-300 text-center">
            <p class="uppercase mb-4 text-sm">
              <strong>Extra</strong>
            </p>
          </div>
          <div class="p-6">bilder</div>
        </div>
      </div>

      <div class="lg:mb-0">
        <div class="pricing-block block rounded-lg shadow-lg bg-white h-full">
          <div class="pricing-border p-6 border-b border-gray-300 text-center">
            <p class="uppercase mb-4 text-sm">
              <strong>Individuell</strong>
            </p>
          </div>
          <div class="p-6">bilder</div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container my-12 mx-auto">
  <section class="text-gray-800 px-6">
    <div class="flex flex-wrap">
      <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pl-6">
        <h3 class="text-2xl font-bold mb-6">Trauringe</h3>
        <p class="text-gray-500 mb-4">
          Das Eheversprechen ist das schönste Versprechen, das wir einer Person
          geben können und Trauringe sind das Zeugnis dafür. Viele Paare möchten
          daher ganz besondere Ringe haben, die ihre Liebe widerspiegeln. Bei
          uns finden Sie genau solche Eheringe. Wir präsentieren Ihnen gerne
          unser breites Sortiment an Trauringen von beliebten und bewährten
          Marken wie Kühnel, Gerstner oder Wörner.
        </p>
      </div>

      <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pl-6">
        <h3 class="text-2xl font-bold mb-6">Trauringe</h3>
        <p class="text-gray-500 mb-4">
          Das Eheversprechen ist das schönste Versprechen, das wir einer Person
          geben können und Trauringe sind das Zeugnis dafür. Viele Paare möchten
          daher ganz besondere Ringe haben, die ihre Liebe widerspiegeln. Bei
          uns finden Sie genau solche Eheringe. Wir präsentieren Ihnen gerne
          unser breites Sortiment an Trauringen von beliebten und bewährten
          Marken wie Kühnel, Gerstner oder Wörner.
        </p>
      </div>
    </div>
  </section>
</div>

<div class="my-12 items-center flex">
  <div
    class="image-banner h-56 bg-cover top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-100 transition duration-300 ease-in-out"
    style="
      justify-content: center;
      display: flex;
      align-items: center;
      background-image: url(../../../assets/about/goldschmied.jpg);
    "
  >
    <button
      routerLink="/preise"
      routerLinkActive="routeIsActive"
      class="image-banner-btn shadow-md p-3 rounded-lg"
    >
      Zu unseren Preisen
    </button>
  </div>
</div>

<div class="container mx-auto">
  <section class="text-gray-800 px-6">
    <div class="grid lg:grid-cols-1 gap-4 xl:gap-x-6">
      <div class="lg:mb-0">
        <div class="block rounded-lg shadow-lg bg-white h-full">
          <div class="p-6 pb-0 text-center">
            <p class="uppercase mb-4 text-sm">
              <strong>Konfiguriere deine Website</strong>
            </p>

            <p>{{ websiteKonfigurierenStep + 1 }} von 6</p>
            <div
              class="mx-auto w-1/2 h-4 mb-4 bg-gray-200 rounded-full dark:bg-gray-700"
            >
              <div
                class="h-4 bg-blue-600 rounded-full dark:bg-blue-500"
                [ngStyle]="applyProzessbarStep()"
              ></div>
            </div>
          </div>

          <!-- // -->

          <div>
            <div class="flex justify-center">
              <ol
                class="flex flex-col align-items justify-content text-center items-center list-inside"
              >
                <form
                  [formGroup]="form"
                  class="md:mb-0 mb-4"
                  #individualForm="ngForm"
                >
                  <div
                    class="form-group"
                    *ngFor="let question of questions; index as i"
                  >
                    <h5
                      class="text-center mx-auto py-6"
                      *ngIf="i == websiteKonfigurierenStep"
                    >
                      {{ question[0] }}
                    </h5>
                    <input
                      autocomplete="off"
                      *ngIf="i == websiteKonfigurierenStep"
                      name="input"
                      type="text"
                      class="block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      placeholder="{{ question[1] }}"
                      formControlName="{{ question[2] }}"
                      [required]="isRequired(question[2])"
                    />
                    <div
                      *ngIf="
                        i == websiteKonfigurierenStep && isRequired(question[2])
                      "
                    >
                      This field is required.
                    </div>
                  </div>

                  <button
                    type="button"
                    *ngIf="websiteKonfigurierenStep == 5"
                    class="flex-col w-20 mx-4 my-6 p-2 px-4 bg-gray-100 rounded-lg"
                    (click)="websiteKonfiguration(individualForm)"
                  >
                    Senden
                  </button>
                  <button
                    (click)="previousStep()"
                    type="button"
                    *ngIf="
                      websiteKonfigurierenStep != 0 &&
                      websiteKonfigurierenStep != 5
                    "
                    class="w-20 mx-4 my-6 p-2 px-4 bg-gray-100 rounded-lg"
                  >
                    Zurück
                  </button>
                  <button
                    (click)="nextStep(individualForm.value)"
                    type="button"
                    *ngIf="websiteKonfigurierenStep != 5"
                    class="w-20 mx-4 my-6 p-2 px-4 bg-gray-100 rounded-lg"
                  >
                    Weiter
                  </button>
                </form>
              </ol>
            </div>
          </div>

          <!-- // -->
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container px-6 mx-auto my-12">
  <section id="animation" class="animation text-gray-800">
    <div class="items-left text-left">
      <div
        class="animation-blocks flex gap-6 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 md:grid-rows-1 lg:grid-rows-1"
      >
        <div [ngClass]="ngStyle1" id="section1" class="p-4">
          <span class="material-symbols-outlined"> security </span>
          <p class="text-lg flex items-center mb-1">Sicher</p>
          <p class="text-sm">
            Mit uns sind Sie auf der sicheren Seite. Unsere Erfahrung und
            Expertise gewährleisten eine professionelle und zuverlässige
            Umsetzung Ihrer Website. Vertrauen Sie uns und erhalten Sie eine
            herausragende Online-Präsenz für Ihr Unternehmen.
          </p>
        </div>
        <div [ngClass]="ngStyle2" id="section2" class="p-4">
          <span class="material-symbols-outlined"> workspace_premium </span>
          <p class="text-lg flex items-center mb-1">Professionell</p>
          <p class="text-sm">
            Unsere Website-Designs überzeugen ihre Zielgruppe. Vertrauen Sie uns
            für eine erfolgreiche Online-Präsenz.
          </p>
        </div>
        <div [ngClass]="ngStyle3" id="section3" class="p-4">
          <span class="material-symbols-outlined"> euro </span>
          <p class="text-lg flex items-center mb-1">Preiswert</p>
          <p class="text-sm">
            Profitieren Sie von unserem preiswerten Service mit einem
            ausgewogenen Preis-Leistungs-Verhältnis, speziell für lokale Kunden.
            Vertrauen Sie uns, um qualitativ hochwertige Lösungen zu einem
            erschwinglichen Preis zu erhalten.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<mat-divider style="display: flex; margin: auto" class="w-1/2"></mat-divider>

<div class="container my-12 px-6 mx-auto">
  <section id="expand" class="animation text-gray-800">
    <div class="items-center text-center">
      <h5 class="mb-12 text-2xl font-bold">Warum WebTree?</h5>
      <div
        class="expand-blocks flex flex-col items-center justify-center text-center"
      >
        <mat-accordion class="w-full">
          <div class="mb-4">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title class="flex justify-center">
                  SAo machen wir ihre super tolle seite!
                </mat-panel-title>
                <span class="material-symbols-outlined"> expand_more </span>
              </mat-expansion-panel-header>
              <p>
                This is the primary content of the panel.This is the primary
                content of the panel.This is the primary content of the
                panel.This is the primary content of the panel.This is the
                primary content of the panel.This is the primary content of the
                panel.This is the primary content of the panel.This is the
                primary content of the panel.
              </p>
            </mat-expansion-panel>
          </div>

          <div class="mb-4">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title class="flex justify-center">
                  This is the expansion title
                </mat-panel-title>
                <span class="material-symbols-outlined"> expand_more </span>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
          </div>
          <div class="mb-4">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title class="flex justify-center">
                  This is the expansion title
                </mat-panel-title>
                <span class="material-symbols-outlined"> expand_more </span>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </div>
    </div>
  </section>
</div>
