<div class="title mt-10 text-center pt-24 pb-10 px-6">
  <p class="text-2xl md:text-4xl xl:text-5xl tracking-tight"></p>
</div>
<div class="mt-6 mb-6 text-center pt-3 pb-3 px-6">
  <h1 class="notranslate text-5xl md:text-6xl xl:text-7xl tracking-tight">
    WebBee
  </h1>
</div>

<div class="contentblock-one container mt-6 mb-6 px-6 mx-auto">
  <section class="text-black-800 text-center">
    <div class="flex flex-wrap mb-12">
      <p>
        Spezialist für Trauringe und Revision mechanischer Uhren mit einer
        hauseigenen Uhrmacherwerkstatt.
        <br />
        <br />
        Besuchen Sie unser Ladengeschäft in Greven, wenn Sie auf der Suche nach
        einem Top-Uhrmacher, Juwelier oder hochwertigen Trauringen mit
        exzellenter Beratung und einem fairen Preis-Leistungs-Verhältnis sind!
        <br />
        <br />
        Sollten Sie weitere Fragen haben, können Sie uns gerne kontaktieren!
      </p>
    </div>
    <mat-icon class="arrow-down">arrow_downward</mat-icon>
  </section>
</div>

<div class="text-center image-section container my-12 mt-0 px-6 mx-auto">
  <section class="text-gray-800">
    <div class="text-center">
      <h1 class="mb-0 text-2xl font-bold sm:text-3xl">Ihre Website</h1>
    </div>

    <div
      [ngClass]="ngStyle"
      id="trauringe"
      class="pt-20 flex flex-wrap justify-around"
    >
      <div
        class="items-center flex flex-col grow-0 shrink-0 basis-auto w-10/12 lg:w-5/12 lg:mb-0 mb-6"
      >
        <div
          class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
          style="background-position: 50%"
          data-mdb-ripple="true"
          data-mdb-ripple-color="light"
        >
          <img
            src="./../../../favicon.png"
            class="w-full"
            alt="Trauringe"
            style="max-height: 360px; max-width: auto"
          />

          <a>
            <div
              class="picture absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
              style="
                justify-content: center;
                display: flex;
                align-items: center;
                transition: 0.8s;
                background-color: rgba(251, 251, 251, 0.9);
              "
            >
              asdad
            </div>
          </a>
        </div>
        <div>
          <p class="font-bold text-black-800 mt-8">
            Individualität, exklusiver Service, guter Preis, einmalige
            anfertigung, Recyclinggold oder vom Kunden bereitgestelltes Gold,
            Fair-Trade-Zertifikat.
          </p>
        </div>
      </div>

      <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pl-6">
        <h3 class="text-2xl font-bold">Trauringe</h3>
        <p class="text-gray-500 mb-4">
          Das Eheversprechen ist das schönste Versprechen, das wir einer Person
          geben können und Trauringe sind das Zeugnis dafür. Viele Paare möchten
          daher ganz besondere Ringe haben, die ihre Liebe widerspiegeln. Bei
          uns finden Sie genau solche Eheringe. Wir präsentieren Ihnen gerne
          unser breites Sortiment an Trauringen von beliebten und bewährten
          Marken wie Kühnel, Gerstner oder Wörner. <br /><br />
          Dank unserer langjährigen Zusammenarbeit mit einem Partnerbetrieb
          können wir auch Steinfassungen vornehmen. Unabhängig davon, ob Sie
          eine außergewöhnliche, unkonventionelle Form oder eher klassische
          Modelle bevorzugen, erfüllen wir genau Ihre Wünsche mit unserem
          Sortiment an maßgefertigten Ringen.
        </p>
      </div>
    </div>
  </section>
</div>
