.title-heading {
  border-top: 1px solid black;
}

@media only screen and (max-width: 576px) {
  .title-heading {
    border-top: none;
  }
}

.title {
  height: 250px;
  background-image: url(./../../../assets/home/zwei-goldene-eheringe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 56%;
}

.zoom:hover img {
  transform: scale(1.1);
}

.mehrErfahrenBox:hover {
  .mehrErfahrenText {
    color: #2563eb;
  }
}

.mehrErfahrenBox {
  max-height: 350px;
  max-width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.mehrErfahrenBox img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

// .uhrmachermeister {
//   max-height: 350px;
//   max-width: auto;
// }
