<div class="w-full mt-12 flex">
  <section
    class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
  >
    <div
      class="relative overflow-hidden bg-no-repeat bg-cover"
      style="
        background-position: 50%;
        background-image: url('https://mdbootstrap.com/img/new/standard/nature/071.jpg');
        height: 500px;
      "
    >
      <div
        class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
        style="background-color: rgba(0, 0, 0, 0.75)"
      >
        <div class="flex justify-center items-center h-full">
          <div
            class="text-center text-white px-6 py-6 md:py-0 md:px-12 max-w-[800px]"
          >
            <h2
              class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight leading-tight mb-2"
            >
              Are you ready
            </h2>
            <p class="mb-2">for an adventure</p>
            <p class="text-lg">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
              officia consequatur adipisci tenetur repudiandae rerum quos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="mx-10">
  <h1
    class="mt-12 mb-6 text-center notranslate text-4xl md:text-5xl xl:text-6xl tracking-tight"
  >
    Eine Website für Sie
  </h1>
  <mat-divider style="display: flex; margin: auto" class="w-1/2"></mat-divider>
  <div class="mt-8 flex justify-center">
    <div class="text-center">
      <!-- <h2 class="text-3xl font-bold mb-6 text-center">Warum WebTree ?</h2> -->
      <p class="text-gray-500 mb-12">
        Minus fuga aliquid vero facere ducimus quos, quisquam nemo? Molestias
        ullam provident vitae error aliquam dolorum temporibus? Doloremque,
        quasi
      </p>
    </div>
  </div>
</section>

<mat-divider style="display: flex; margin: auto" class="w-1/2"></mat-divider>

<div class="container my-6 mt-8 px-6 mx-auto">
  <section class="text-gray-800 text-center">
    <div class="svg-image grid md:grid-cols-1 lg:grid-cols-3 lg:gap-x-12">
      <div class="mb-12 lg:mb-0">
        <div
          class="container text-center content-center flex flex-col items-center justify-items-center mx-auto mb-4"
        >
          <span class="p-3 material-symbols-outlined"> verified_user </span>
        </div>
        <h5 class="text-lg font-bold mb-4">Sicher</h5>
        <p class="text-gray-500">
          Eum nostrum fugit numquam, voluptates veniam neque quibusdam ullam
          aspernatur odio soluta, quisquam dolore animi
        </p>
      </div>

      <div class="mb-12 lg:mb-0">
        <div
          class="container text-center content-center flex flex-col items-center justify-items-center mx-auto mb-4"
        >
          <span class="p-3 material-symbols-outlined"> workspace_premium </span>
        </div>
        <h5 class="text-lg font-bold mb-4">Professionell</h5>
        <p class="text-gray-500">
          Laudantium totam quas cumque pariatur at doloremque hic quos quia
          eius. Reiciendis optio minus mollitia rerum labore
        </p>
      </div>

      <div class="mb-0 md:mb-0">
        <div
          class="container text-center content-center flex flex-col items-center justify-items-center mx-auto mb-4"
        >
          <span class="p-3 material-symbols-outlined"> euro_symbol </span>
        </div>
        <h5 class="text-lg font-bold mb-4">Preiswert</h5>
        <p class="text-gray-500">
          Enim cupiditate, minus nulla dolor cumque iure eveniet facere ullam
          beatae hic voluptatibus dolores exercitationem
        </p>
      </div>
    </div>
  </section>
</div>

<div class="my-12 items-center flex">
  <div
    class="image-banner h-56 bg-cover top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-100 transition duration-300 ease-in-out"
    style="
      justify-content: center;
      display: flex;
      align-items: center;
      background-image: url(../../../assets/about/goldschmied.jpg);
    "
  >
    <button
      routerLink="/preise"
      routerLinkActive="routeIsActive"
      class="image-banner-btn shadow-md p-3 rounded-lg"
    >
      Zu unseren Preisen
    </button>
  </div>
</div>

<div class="container px-6 mx-auto">
  <section id="animation" class="animation mb-32 text-gray-800">
    <div class="items-center text-center">
      <h5 class="mb-12 text-2xl font-bold">In jedem Paket enthalten</h5>
      <div
        class="animation-blocks flex items-center text-center gap-6 grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 md:grid-rows-3 lg:grid-rows-2"
      >
        <div [ngClass]="ngStyle1" id="section1" class="p-4">
          <span class="mr-1 material-symbols-outlined"> speed </span>
          <p class="flex items-center justify-center">
            Short text about the package and what is add to...... example text
            example text example text example text
          </p>
        </div>
        <div [ngClass]="ngStyle2" id="section2" class="p-4">
          <span class="mr-1 material-symbols-outlined"> check_circle </span>
          <p class="flex items-center justify-center">
            Short text about the package and what is add to...... example text
            example text example text example text
          </p>
        </div>
        <div [ngClass]="ngStyle3" id="section3" class="p-4">
          <span class="mr-1 material-symbols-outlined"> check_circle </span>
          <p class="flex items-center justify-center">
            Short text about the package and what is add to...... example text
            example text example text example text
          </p>
        </div>
        <div [ngClass]="ngStyle4" id="section4" class="p-4">
          <span class="mr-1 material-symbols-outlined"> check_circle </span>
          <p class="flex items-center justify-center">
            Short text about the package and what is add to...... example text
            example text example text example text
          </p>
        </div>
        <div [ngClass]="ngStyle5" id="section5" class="p-4">
          <span class="mr-1 material-symbols-outlined"> check_circle </span>
          <p class="flex items-center justify-center">
            Short text about the package and what is add to...... example text
            example text example text example text
          </p>
        </div>
        <div [ngClass]="ngStyle6" id="section6" class="p-4">
          <span class="mr-1 material-symbols-outlined"> check_circle </span>
          <p class="flex items-center justify-center">
            Short text about the package and what is add to...... example text
            example text example text example text
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
