// .title-heading {
//   border-top: 1px solid black;
// }

// @media only screen and (max-width: 576px) {
//   .title-heading {
//     border-top: none;
//   }
// }

// .title {
//   height: 250px;
//   background-image: url(./../../../assets/home/zwei-goldene-eheringe.jpg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: 50% 56%;
// }

.ngStyleAfter {
  opacity: 1;
  transition: 1.4s;
}

.ngStyleBefore {
  opacity: 0;
  transition: 1s;
  transform: translate(0px, 80px);
}

.ng-gallery {
  background-color: rgb(247, 247, 247) !important;
  height: 50vh !important;
 
}

