<div class="w-full mt-12 flex">
  <section
    class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
  >
    <div
      class="relative overflow-hidden bg-no-repeat bg-cover"
      style="
        background-position: 50%;
        background-image: url('https://mdbootstrap.com/img/new/standard/nature/071.jpg');
        height: 500px;
      "
    >
      <div
        class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
        style="background-color: rgba(0, 0, 0, 0.75)"
      >
        <div class="flex justify-center items-center h-full">
          <div
            class="text-center text-white px-6 py-6 md:py-0 md:px-12 max-w-[800px]"
          >
            <h2
              class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight leading-tight mb-2"
            >
              Are you ready
            </h2>
            <p class="mb-2">for an adventure</p>
            <p class="text-lg">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
              officia consequatur adipisci tenetur repudiandae rerum quos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="mx-10">
  <h1
    class="mt-12 mb-6 text-center notranslate text-4xl md:text-5xl xl:text-6xl tracking-tight"
  >
    Usnere Preise
  </h1>
  <mat-divider style="display: flex; margin: auto" class="w-1/2"></mat-divider>
  <div class="mt-8 flex justify-center">
    <div class="text-center">
      <!-- <h2 class="text-3xl font-bold mb-6 text-center">Warum WebTree ?</h2> -->
      <p class="text-gray-500 mb-12 lg:mx-32">
        Minus fuga aliquid vero facere ducimus quos, quisquam nemo? Molestias
        ullam provident vitae error aliquam dolorum temporibus? Doloremque,
        Minus fuga aliquid vero facere ducimus quos, quisquam nemo? Molestias
        ull quasi
      </p>
    </div>
  </div>
</section>

<mat-divider style="display: flex; margin: auto" class="w-1/2"></mat-divider>

<div class="container my-6 mb-4 xl:mb-6 mx-auto">
  <section class="text-gray-800 mx-4 md:mx-0 lg:mx-0 xl:mx-0 2xl:mx-0">
    <div class="grid lg:grid-cols-3 gap-4 xl:gap-x-6">
      <div class="pricing-block lg:mb-0 rounded-lg">
        <div class="block rounded-lg shadow-lg bg-white h-full">
          <div class="pricing-border p-6 text-center">
            <p class="uppercase mb-4 text-sm">
              <strong>Basic</strong>
            </p>
            <h3 class="text-2xl mb-0">
              <strong>49 €</strong>
              <small class="text-gray-500 text-sm">/month</small>
            </h3>
            <h5 class="text-2xl mb-6">
              <strong>179 €</strong>
              <small class="text-gray-500 text-sm">/Einrichtungskosten</small>
            </h5>

            <button
              type="button"
              class="inline-block px-6 py-2.5 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out w-full"
              data-mdb-ripple="true"
              data-ripple-color="primary"
            >
              Buy
            </button>
          </div>
          <div class="p-6">
            <ol class="list-inside">
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined">
                  check
                </span>
                3 Inhaltsseiten
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined">
                  check
                </span>
                Eine kostenlose änderung pro Monat
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="lg:mb-0">
        <div class="pricing-block block rounded-lg shadow-lg bg-white h-full">
          <div class="pricing-border p-6 border-b border-gray-300 text-center">
            <p class="uppercase mb-4 text-sm">
              <strong>Extra</strong>
            </p>
            <h3 class="text-2xl mb-0">
              <strong>59 €</strong>
              <small class="text-gray-500 text-sm">/month</small>
            </h3>
            <h5 class="text-2xl mb-6">
              <strong>359 €</strong>
              <small class="text-gray-500 text-sm">/Einrichtungskosten</small>
            </h5>

            <button
              type="button"
              class="inline-block px-6 py-2.5 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out w-full"
              data-mdb-ripple="true"
              data-ripple-color="primary"
            >
              Buy
            </button>
          </div>
          <div class="p-6">
            <ol class="list-inside">
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined">
                  check
                </span>
                6 Inhaltsseiten
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined">
                  check
                </span>
                Zwei kostenlose änderung pro Monat
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="lg:mb-0">
        <div class="pricing-block block rounded-lg shadow-lg bg-white h-full">
          <div class="pricing-border p-6 border-b border-gray-300 text-center">
            <p class="uppercase mb-4 text-sm">
              <strong>Individuell</strong>
            </p>
            <h3 class="text-2xl mb-0">
              <strong>-</strong>
              <small class="text-gray-500 text-sm">/month</small>
            </h3>
            <h5 class="text-2xl mb-6">
              <strong>-</strong>
              <small class="text-gray-500 text-sm">/Einrichtungskosten</small>
            </h5>

            <button
              type="button"
              class="inline-block px-6 py-2.5 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out w-full"
              data-mdb-ripple="true"
              data-ripple-color="primary"
            >
              Buy
            </button>
          </div>
          <div class="p-6">
            <ol class="list-inside">
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined">
                  check
                </span>
                bis zu 20 Inhaltsseiten
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container mb-8 xl:mb-10 mx-auto">
  <section class="text-gray-800 mx-4 md:mx-0 lg:mx-0 xl:mx-0 2xl:mx-0">
    <div class="grid lg:grid-cols-1 gap-4 xl:gap-x-6">
      <div class="pricing-block lg:mb-0 rounded-lg">
        <div class="block rounded-lg shadow-lg bg-white h-full">
          <div class="pricing-border p-6 text-center">
            <p class="uppercase mb-4 text-sm">
              <strong>Socialmedia</strong>
            </p>
            <h3 class="text-2xl mb-6">
              <strong>ab 99 €</strong>
              <small class="text-gray-500 text-sm">/month</small>
            </h3>

            <button
              type="button"
              class="xl:max-w-sm inline-block px-6 py-2.5 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out w-full"
              data-mdb-ripple="true"
              data-ripple-color="primary"
            >
              Buy
            </button>
          </div>
          <div class="p-6 flex justify-left md:justify-center text-left">
            <ol
              class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 gap-x-32 list-inside"
            >
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Instagramm
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined">
                  check
                </span>
                Twitter
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Facebook
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Content Management
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Beratung
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Reichweite
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="my-12 items-center flex">
  <div
    class="image-banner h-56 bg-cover top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-100 transition duration-300 ease-in-out"
    style="
      justify-content: center;
      display: flex;
      align-items: center;
      background-image: url(../../../assets/about/goldschmied.jpg);
    "
  ></div>
</div>

<div class="container px-6 mx-auto">
  <section id="animation" class="animation mb-32 text-gray-800">
    <div class="items-center text-center">
      <h5 class="mb-12 text-2xl font-bold">Auf jeder Website enthalten</h5>
      <div
        class="animation-blocks flex items-center text-center gap-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 md:grid-rows-3 lg:grid-rows-2"
      >
        <div [ngClass]="ngStyle1" id="section1" class="p-4">
          <span class="mr-1 material-symbols-outlined"> speed </span>
          <p class="flex items-center justify-center">Domain und Hosting</p>
        </div>
        <div [ngClass]="ngStyle2" id="section2" class="p-4">
          <span class="mr-1 material-symbols-outlined"> check_circle </span>
          <p class="flex items-center justify-center">
            Angepasst für Smartphones
          </p>
        </div>
        <div [ngClass]="ngStyle3" id="section3" class="p-4">
          <span class="mr-1 material-symbols-outlined"> check_circle </span>
          <p class="flex items-center justify-center">Kontaktformular</p>
        </div>
        <div [ngClass]="ngStyle4" id="section4" class="p-4">
          <span class="mr-1 material-symbols-outlined"> check_circle </span>
          <p class="flex items-center justify-center">Email Postfach</p>
        </div>
        <div [ngClass]="ngStyle5" id="section5" class="p-4">
          <span class="mr-1 material-symbols-outlined"> check_circle </span>
          <p class="flex items-center justify-center">
            Impressum und Datenschutzerklärung
          </p>
        </div>
        <div [ngClass]="ngStyle6" id="section6" class="p-4">
          <span class="mr-1 material-symbols-outlined"> check_circle </span>
          <p class="flex items-center justify-center">SEO optimierung</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="py-10">
  <gallery
    class="ng-gallery"
    [nav]="false"
    [dots]="true"
    [dotsSize]="10"
    thumbMode="free"
    dotsPosition="top"
    [playerInterval]="4000"
    [autoPlay]="true"
    gestures="true"
    [counter]="false"
    [loop]="true"
    loadingStrategy="preload"
    imageSize="contain"
    [items]="images"
  ></gallery>
</div>
