.image-banner {
  transition: 1s;
  p {
    transition: 1s;
  }
}

//Priceblock area start
.pricing-block {
  transition: 1s;
  outline: 1px solid rgb(198, 151, 73, 0);
  button {
    background-color: hsl(0, 0%, 95%);
  }
}
.pricing-block:hover {
  transform: translateY(-3.5%);
  transition: 1s;
  opacity: 1;
  outline: 1px solid rgb(198, 151, 73, 0.6);
  .pricing-border {
    border-bottom: 1px solid rgb(198, 151, 73, 0.4);
  }
}

.pricing-border {
  transition: 1s;
  border-bottom: 1px solid rgb(128, 128, 128, 0.3);
}

.check {
  color: rgb(1, 168, 1);
}
//Priceblock area end

//In Jedem Paket area start
.animation-blocks {
  div {
    transition: 0.3s;
    border-radius: 0.5rem;
    border-radius: 10px;
  }
  div:hover {
    transition: 0.3s;
    transform: translateY(-3.5%);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  span {
    font-size: 45px;
  }
}

.animation {
  div {
    div {
      div {
        transition: 0.8s;
      }
    }
  }
}

.ngStyleAfter {
  opacity: 1;
  transform: translate(0px, 0px);
}

.ngStyleBefore {
  opacity: 0;
  transform: translate(0px, 80px);
}

//In Jedem Paket area end
