<div class="title mt-10 text-center pt-24 pb-10 px-6">
  <h1 class="text-5xl md:text-6xl xl:text-7xl tracking-tight"></h1>
</div>
<div class="mt-3 mb-3 text-center pt-3 pb-3 px-6">
  <h1 class="text-5xl md:text-6xl xl:text-7xl tracking-tight">
    <p class="text-4xl md:text-5xl xl:text-6xl tracking-tight">Produkte</p>
    <span class="text-4xl md:text-5xl xl:text-6xl tracking-tight title-heading"
      >Und Leistungen</span
    >
  </h1>
</div>

<div class="contentblock-one container mt-6 mb-8 px-6 mx-auto">
  <section class="text-gray-800 text-center items-center">
    <div class="">
      <p>
        Uhrbandwechsel (Sofortservice)<br />
        Wasserdichtigkeitsprüfung (Sofortservice)<br />
        Batteriewechsel <br />
        Ohrlöcher stechen<br />
        Revision von antiken Taschenuhren, Armbanduhren sowie Wand- und
        Standuhren<br />
        Anfertigung fehlender Ersatzteile<br />
        Hol- und Bringservice<br />
        umfangreiche, ehrliche Beratung<br />
        fachgerechte und sorgfältige Durchführung aller Arbeiten<br />
      </p>
    </div>
    <br />
    <br />
    <mat-icon class="arrow-down">arrow_downward</mat-icon>
  </section>
</div>

<div class="text-center image-section container my-12 mt-0 px-6 mx-auto">
  <section class="text-gray-800">
    <div class="text-center">
      <h1 class="mb-0 text-2xl font-bold sm:text-3xl">Über unsere Produkte</h1>
    </div>

    <div id="trauringe" class="pt-20 flex flex-wrap">
      <div
        class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pr-6 lg:mb-0 mb-6"
      >
        <div
          class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
          style="background-position: 50%"
          data-mdb-ripple="true"
          data-mdb-ripple-color="light"
        >
          <img
            src="./../../../assets/home/zwei-goldene-eheringe.jpg"
            class="w-full"
            alt="Trauringe"
          />
          <a>
            <div
              class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </a>
        </div>
      </div>

      <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pl-6">
        <h3 class="text-2xl font-bold">Trauringe</h3>
        <p class="text-gray-500 mb-4">
          Das Eheversprechen ist das schönste Versprechen, das wir einer Person
          geben können und Trauringe sind das Zeugnis dafür. Viele Paare möchten
          daher ganz besondere Ringe haben, die ihre Liebe widerspiegeln. Bei
          uns finden Sie genau solche Eheringe. Wir präsentieren Ihnen gerne
          unser breites Sortiment an Trauringen von beliebten und bewährten
          Marken wie Kühnel, Gerstner oder Wörner. <br /><br />
          Dank unserer langjährigen Zusammenarbeit mit einem Partnerbetrieb
          können wir auch Steinfassungen vornehmen. Unabhängig davon, ob Sie
          eine außergewöhnliche, unkonventionelle Form oder eher klassische
          Modelle bevorzugen, erfüllen wir genau Ihre Wünsche mit unserem
          Sortiment an maßgefertigten Ringen.
        </p>
      </div>
      <div>
        <p class="font-bold text-black-800 mt-8">
          Individualität, exklusiver Service, guter Preis, einmalige
          anfertigung, Recyclinggold oder vom Kunden bereitgestelltes Gold,
          Fair-Trade-Zertifikat.
        </p>
      </div>
    </div>

    <div id="uhren" class="pt-20 flex flex-wrap lg:flex-row-reverse">
      <div
        class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pl-6 lg:mb-0 mb-6"
      >
        <div
          class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
          style="background-position: 50%"
          data-mdb-ripple="true"
          data-mdb-ripple-color="light"
        >
          <img
            src="./../../../assets/products/Uhr.jpg"
            class="w-full"
            alt="Uhren"
          />
          <a>
            <div
              class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </a>
        </div>
      </div>

      <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pr-6">
        <h3 class="text-2xl font-bold">Uhren</h3>
        <p class="text-gray-500 mb-6">
          Trotz der weit verbreiteten Nutzung von Smartphones, sind Uhren
          keinesfalls überflüssig geworden. Vielmehr dienen sie als schmückendes
          Accessoire am Handgelenk oder als raffinierte Taschenuhr. Besonders zu
          feierlichen Anlässen wie Schulabschlüssen, Weihnachten oder Jubiläen
          sind Uhren beliebte Geschenke. In unserem umfangreichen Sortiment
          finden Sie renommierte Marken wie Boccia, Jacques Lemans, Abeler &
          Söhne, Botta-Design, Bauhaus (Walter Gropius) und M&M.
          <br />
          <br />
          Unsere Einzeigeruhren von Botta Design sind mit ihren ausgefallenen
          Designs echte Hingucker, während die Bauhaus Uhren von Walter Gropius
          längst zu Design-Klassikern avanciert sind. Wenn Sie nach Uhren
          anderer Marken suchen, sprechen Sie uns einfach an.
        </p>
        <br />
      </div>
      <div>
        <p class="font-bold text-black-800 mt-8">
          Stand- und Taschenuhren, abholung auf Wunsch, Sofortservice,
          inspirierende Auswahl, kompetenter Ansprechpartner
        </p>
      </div>
    </div>

    <div id="schmuck" class="pt-20 flex flex-wrap">
      <div
        class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pr-6 lg:mb-0 mb-6"
      >
        <div
          class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
          style="background-position: 50%"
          data-mdb-ripple="true"
          data-mdb-ripple-color="light"
        >
          <img
            src="./../../../assets/products/Halskette.jpg"
            class="w-full"
            alt="Schmuck"
          />
          <a>
            <div
              class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
              style="background-color: rgba(251, 251, 251, 0.2)"
            ></div>
          </a>
        </div>
      </div>

      <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 lg:pl-6">
        <h3 class="text-2xl font-bold">Schmuck</h3>
        <p class="text-gray-500 mb-6">
          Unser Unternehmen bietet Ihnen eine Vielzahl von Dienstleistungen rund
          um Schmuck an. Wir fertigen individuelle Schmuckstücke nach Ihren
          Wünschen und Vorstellungen an und können auch vorhandene Schmuckstücke
          nach Ihren Wünschen umarbeiten. Falls Sie eine Reparatur benötigen,
          können wir Ihnen bei Kettenlöten, Ringänderungen, Steinersatz und
          ähnlichen Problemen helfen. Wir reinigen auch gerne Ihre
          Schmuckstücke, damit sie wieder in neuem Glanz erstrahlen.
          <br />
          <br />
          Falls Sie den Wert Ihres Schmucks ermitteln lassen möchten, können wir
          Ihnen ein Wertgutachten erstellen. Wenn Sie alten Schmuck haben, den
          Sie verkaufen möchten, können wir ihn auch ankaufen.
          <br />
          <br />
          Für Kinder ab 6 Jahren bieten wir auch das Ohrlochstechen an.
        </p>
      </div>
      <div>
        <p class="font-bold text-black-800 mt-8">
          Anfertigung von Schmuckstücken, umarbeiten und reperatur, reinigung,
          Wertgutachten, Schmuck und Gold ankauf
        </p>
      </div>
    </div>
  </section>
</div>
