<div class="w-full mt-12 flex">
  <section
    class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
  >
    <div
      class="relative overflow-hidden bg-no-repeat bg-cover"
      style="
        background-position: 50%;
        background-image: url('https://mdbootstrap.com/img/new/standard/nature/071.jpg');
        height: 500px;
      "
    >
      <div
        class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
        style="background-color: rgba(0, 0, 0, 0.75)"
      >
        <div class="flex justify-center items-center h-full">
          <div
            class="text-center text-white px-6 py-6 md:py-0 md:px-12 max-w-[800px]"
          >
            <h2
              class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight leading-tight mb-2"
            >
              Are you ready
            </h2>
            <p class="mb-2">for an adventure</p>
            <p class="text-lg">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
              officia consequatur adipisci tenetur repudiandae rerum quos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<h1
  class="mt-12 mb-6 text-center notranslate text-4xl md:text-5xl xl:text-6xl tracking-tight"
>
  Unsere Preise
</h1>
<mat-divider style="display: flex; margin: auto" class="w-1/2"></mat-divider>
<div class="mt-8 flex justify-center">
  <div class="text-center max-w-[700px]">
    <p class="text-gray-500 mb-12">
      Minus fuga aliquid vero facere ducimus quos, quisquam nemo? Molestias
      ullam provident vitae error aliquam dolorum temporibus? Doloremque, quasi
    </p>
  </div>
</div>

<div class="container mb-6 mx-auto">
  <section class="text-gray-800">
    <div class="grid lg:grid-cols-3 gap-4 xl:gap-x-12">
      <div class="pricing-block m-3 lg:mb-0 rounded-lg">
        <div class="block rounded-lg shadow-lg bg-white h-full">
          <div class="pricing-border p-6 text-center">
            <p class="uppercase mb-4 text-sm">
              <strong>Basic</strong>
            </p>
            <h3 class="text-2xl mb-6">
              <strong>59 €</strong>
              <small class="text-gray-500 text-sm">/month</small>
            </h3>

            <button
              type="button"
              class="inline-block px-6 py-2.5 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out w-full"
              data-mdb-ripple="true"
              data-ripple-color="primary"
            >
              Buy
            </button>
          </div>
          <div class="p-6">
            <ol class="list-inside">
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Domain und Hosting
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined">
                  check
                </span>
                3 Inhaltsseiten
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Angepasst für Smartphones
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Kontaktformular
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Email Postfach
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Impressum / Datenschutzerklärung
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="m-3 lg:mb-0">
        <div class="pricing-block block rounded-lg shadow-lg bg-white h-full">
          <div class="pricing-border p-6 border-b border-gray-300 text-center">
            <p class="uppercase mb-4 text-sm">
              <strong>Extra</strong>
            </p>
            <h3 class="text-2xl mb-6">
              <strong>159 €</strong>
              <small class="text-gray-500 text-sm">/month</small>
            </h3>

            <button
              type="button"
              class="inline-block px-6 py-2.5 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out w-full"
              data-mdb-ripple="true"
              data-ripple-color="primary"
            >
              Buy
            </button>
          </div>
          <div class="p-6">
            <ol class="list-inside">
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Domain und Hosting
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined">
                  check
                </span>
                6 Inhaltsseiten
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Angepasst für Smartphones
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Kontaktformular
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Email Postfach
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Impressum / Datenschutzerklärung
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="m-3 lg:mb-0">
        <div class="pricing-block block rounded-lg shadow-lg bg-white h-full">
          <div class="pricing-border p-6 border-b border-gray-300 text-center">
            <p class="uppercase mb-4 text-sm">
              <strong>Individuell</strong>
            </p>
            <h3 class="text-2xl mb-6">
              <strong>-</strong>
              <small class="text-gray-500 text-sm">/month</small>
            </h3>

            <button
              type="button"
              class="inline-block px-6 py-2.5 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out w-full"
              data-mdb-ripple="true"
              data-ripple-color="primary"
            >
              Buy
            </button>
          </div>
          <div class="p-6">
            <ol class="list-inside">
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Domain und Hosting
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined">
                  check
                </span>
                9 Inhaltsseiten
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Angepasst für Smartphones
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Kontaktformular
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Email Postfach
              </li>
              <li class="mb-4 flex items-center">
                <span class="check mr-2 material-symbols-outlined"> check </span
                >Impressum / Datenschutzerklärung
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="my-16 items-center flex">
  <div
    class="image-banner h-56 bg-cover top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-100 transition duration-300 ease-in-out"
    style="
      justify-content: center;
      display: flex;
      align-items: center;
      background-image: url(../../../assets/about/goldschmied.jpg);
    "
  ></div>
</div>

<div class="container px-6 mx-auto">
  <section id="animation" class="animation mb-32 text-gray-800">
    <div class="items-center text-center">
      <h5 class="mb-12 text-2xl font-bold">In jedem Paket enthalten</h5>
      <div
        class="animation-blocks flex items-center text-center gap-6 grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 md:grid-rows-3 lg:grid-rows-2"
      >
        <div [ngClass]="ngStyle1" id="section1" class="p-4">
          <span class="mr-1 material-symbols-outlined"> speed </span>
          <p class="flex items-center justify-center">
            Short text about the package and what is add to...... example text
            example text example text example text
          </p>
        </div>
        <div [ngClass]="ngStyle2" id="section2" class="p-4">
          <span class="mr-1 material-symbols-outlined"> check_circle </span>
          <p class="flex items-center justify-center">
            Short text about the package and what is add to...... example text
            example text example text example text
          </p>
        </div>
        <div [ngClass]="ngStyle3" id="section3" class="p-4">
          <span class="mr-1 material-symbols-outlined"> check_circle </span>
          <p class="flex items-center justify-center">
            Short text about the package and what is add to...... example text
            example text example text example text
          </p>
        </div>
        <div [ngClass]="ngStyle4" id="section4" class="p-4">
          <span class="mr-1 material-symbols-outlined"> check_circle </span>
          <p class="flex items-center justify-center">
            Short text about the package and what is add to...... example text
            example text example text example text
          </p>
        </div>
        <div [ngClass]="ngStyle5" id="section5" class="p-4">
          <span class="mr-1 material-symbols-outlined"> check_circle </span>
          <p class="flex items-center justify-center">
            Short text about the package and what is add to...... example text
            example text example text example text
          </p>
        </div>
        <div [ngClass]="ngStyle6" id="section6" class="p-4">
          <span class="mr-1 material-symbols-outlined"> check_circle </span>
          <p class="flex items-center justify-center">
            Short text about the package and what is add to...... example text
            example text example text example text
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
