/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@angular/cdk/overlay-prebuilt.css";

@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Ovo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  //main colors    main: #12343C   secondary: #F5Bf50
  --one: rgb(18, 52, 60);
  --accent: rgb(245, 191, 80);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Ovo", serif;
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
}
body {
  background-color: var(--four);
}

// start region scrollbar
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255, 0.4);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(95, 95, 95, 0.4);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 95, 95, 0.7);
}
// end region scrollbar
.standart-button {
  color: black;
  font-size: small;
  background-color: var(--three);
}
.standart-button:hover {
  transition: 0.3s;
  background-color: var(--three-opacity-X);
}
