<div class="title mt-10 text-center pt-24 pb-10 px-6">
  <p class="text-5xl md:text-6xl xl:text-7xl tracking-tight"></p>
</div>

<div class="mt-3 mb-3 text-center pt-3 pb-3 px-6">
  <h1 class="text-5xl md:text-6xl xl:text-7xl tracking-tight">
    <p class="text-4xl md:text-5xl xl:text-6xl tracking-tight">Aktuelle</p>
    <span class="text-4xl md:text-5xl xl:text-6xl tracking-tight title-heading"
      >Neuigkeiten</span
    >
  </h1>
</div>

<div class="text-left image-section container mt-6 mb-8 px-6 mx-auto">
  <section class="text-gray-800">
    <div class="flex flex-wrap">
      <article
        *ngFor="let item of get.list"
        class="mt-3 mb-3 flex bg-white transition hover:shadow-xl"
      >
        <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
          <time
            datetime="2022-10-10"
            class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-gray-900"
          >
            <span class="w-px flex-1 bg-gray-900/10"></span>
            <span>{{ item.date }}</span>
            <span class="w-px flex-1 bg-gray-900/10"></span>
          </time>
        </div>

        <div class="hidden sm:block sm:basis-56">
          <img
            alt="Guitar"
            src="https://images.unsplash.com/photo-1609557927087-f9cf8e88de18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
            class="aspect-square h-full w-full object-cover"
          />
        </div>

        <div class="flex flex-1 flex-col justify-between">
          <div
            class="border-l border-gray-900/10 p-4 sm:border-l-transparent sm:p-6"
          >
            <a href="#">
              <h3 class="font-bold uppercase text-gray-900">
                {{ item.header }}
              </h3>
              <h4 class="font-medium text-sm uppercase text-gray-900">
                {{ item.subHeader }}
              </h4>
            </a>

            <p class="mt-2 text-sm leading-relaxed text-gray-700 line-clamp-3">
              {{ item.description }}
            </p>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>
